@import '../../../main-styles.scss';

.root {
    display: flex;
    width: 100%;
    position: relative;

    .x-icon-button {
        position: absolute;
        height: 34px;
        width: 34px;
        border-radius: 50%;
        background-color: $dark;
        right: -17px;
        top: -17px;
    }
}

.budget-item {
    display: flex;
    width: 100%;
    background-color: $grey-light;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

    .description {
        display: flex;
        flex-grow: 1;
        font-size: 18px;
        margin-left: 5px;

        // vertically center children
        align-items: center;
    }

    .amount {
        padding: 5px;
        border-radius: 3px;
    }
}

.expense, .income {
    margin-bottom: 20px
}

.expense {
    p {
        color: $red;     
    }

    .amount {
        background-color: $red-light;
    }
}


.income {
    p {
        color: $green
    }

    .amount {
        background-color: $green-light;
    }
}